<div>
    <div class="partial-item" id="folder-tree-partial">
        <ul class="folders menu-main">
            {{#each folders}}
            <li>
                <div class="side-link"><a data-path="{{path}}"  class="folder-entity {{className}}"><i class="{{iconClass}}"></i>{{name}}</a></div>
                {{#if folders}}
                {{> folder-tree-loop-partial}}
                {{/if}}
                <ul class="files hide menu-root">
                    {{#each files}}
                    <li>
                        {{#if structure}}
                            <div class="side-link"><a id="{{@root.sectionPrefix}}{{structure.id}}" data-section-id="{{structure.id}}" data-path="{{path}}" class="file-entity" href="{{structure.hash}}">
                            <i class="{{iconClass}}"></i>{{structure.title}}</a></div>
                            {{!-- <div class="side-link"><a data-section-id="{{structure.id}}" class="root section-entity" href="{{structure.hash}}">{{structure.title}}</a></div> --}}
                            <ul class="sections hide menu-root">
                                {{#each structure.children}}
                                <li>
                                     <div class="side-link"><a id="{{@root.sectionPrefix}}{{id}}" data-section-id="{{id}}" data-section-hash="{{hash}}" class="sub section-entity" href="#{{id}}">{{title}}</a></div>
                                     {{> file-section-partial}}
                                </li>
                                {{/each}}
                            </ul>
                        {{else}}
                            <div class="side-link"><a data-path="{{path}}" class="file-entity" href="#{{name}}">{{name}}</a></div>
                        {{/if}}
                    </li>
                    {{/each}}
                </ul>
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="partial-item" id="folder-tree-loop-partial">
        <ul class="folders hide menu-{{className}}">
            {{#each folders}}
            <li>
                <div class="side-link"><a data-path="{{path}}"  class="folder-entity {{className}}"><i class="{{iconClass}}"></i>{{name}}</a></div>
                {{#if folders}}
                {{> folder-tree-partial}}
                {{/if}}
                <ul class="files hide menu-sub">
                    {{#each files}}
                    <li>
                        {{#if structure}}
                            <div class="side-link"><a id="{{@root.sectionPrefix}}{{structure.id}}" data-section-id="{{structure.id}}" data-path="{{path}}" class="file-entity" href="{{structure.hash}}"><i class="{{iconClass}}"></i>{{structure.title}}</a></div>
                            {{!-- <div class="side-link"><a data-section-id="{{structure.id}}" class="root section-entity" href="{{structure.hash}}">{{structure.title}}</a></div> --}}
                            <ul class="sections menu-root">
                                {{#each structure.children}}
                                <li>
                                     <div class="side-link"><a id="{{@root.sectionPrefix}}{{id}}" data-section-id="{{id}}" data-section-hash="{{hash}}" class="sub section-entity" href="#{{id}}">{{title}}</a></div>
                                     {{> file-section-partial}}
                                </li>
                                {{/each}}
                            </ul>
                        {{else}}
                            <div class="side-link"><a data-path="{{path}}" class="file-entity" href="#{{name}}">{{name}}</a></div>
                        {{/if}}
                    </li>
                    {{/each}}
                </ul>
            </li>
            {{/each}}
        </ul>
    </div>

    <div class="partial-item" id="file-section-partial">
        <ul class="sections menu-sub">
            {{#each children}}
            <li>
                 <div class="side-link"><a id="{{@root.sectionPrefix}}{{id}}" data-section-id="{{id}}" data-section-hash="{{hash}}" class="section-entity" href="#{{id}}">{{title}}</a></div>
                 <ul>
                    {{> file-section-partial}}
                 </ul>
            </li>
            {{/each}}
        </ul>
    </div>
</div>

